.details {
  display: none;
}

.red_button {
  background-color: pink;
  border: none;
}

.red_button:hover {
  background-color: lightblue;
}

.container2 {
  margin-top: 20px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: space-around;
}

.h2 {
  text-align: center;
  color: #586a7b;
}

#myProgress {
  width: 100%;
  background-color: #586a7b;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: pink;
}

.dropdown-menu {
  color: grey;
  margin-top: 8rem;
}
